html
  head
    title="Websocket"
    script(src='/socket.io/socket.io.js')
    script(src="./js/main.js")
    style
        include ./style.css
  body
    include ./form
    div(id="table")
      //- include ./table
    include ./chat