<% if(getProductos) { %>
  <table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
    <% for (const prod of getProductos) { %>
      <tr>
        <td><%=prod.nombre%></td>
        <td><%=prod.precio%></td>
        <td><img src="<%=prod.url%>" alt="<%=prod.nombre%>"></td>
      </tr>
      <% }; %>
    </tbody>
  </table>
  <a href="/">
    <button>Añadir más productos</button>
  </a>
<% } else{ %>
  <h2>No hay productos</h2>
  <a href="/">
    <button>Añadir productos</button>
  </a>
<% }; %>