<% if(productos.length > 0) { %>
  <table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
    <% for (const prod of productos) { %>
      <tr>
        <td><%=this.nombre%></td>
        <td><%=this.apellido%></td>
        <td><%=this.edad%></td>
      </tr>
      <% }; %>
    </tbody>
  </table>
<% } else{ %>
  <h2>No hay productos</h2>
<% }; %>